@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pt-safe-top {
        padding-top: env(safe-area-inset-top);
    }

    .pb-safe-bottom {
        padding-bottom: env(safe-area-inset-bottom);
    }

    .top-safe-top {
        top: env(safe-area-inset-top);
    }

    /* Custom Scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    /* Hide Scrollbar */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* Animations */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(168, 85, 247, 0.5);
    }

    100% {
        text-shadow: 0 0 20px rgba(59, 130, 246, 0.8), 0 0 10px rgba(168, 85, 247, 0.5);
    }
}

@keyframes gradient-xy {

    0%,
    100% {
        background-size: 400% 400%;
        background-position: left center;
    }

    50% {
        background-size: 200% 200%;
        background-position: right center;
    }
}

@keyframes pulse-slow {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}

.animate-glow {
    animation: glow 2s ease-in-out infinite alternate;
}

.animate-gradient-xy {
    animation: gradient-xy 6s ease infinite;
}

.animate-pulse-slow {
    animation: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}